html {
    font-size: 16px; /* Define a base font size (e.g., 16px) */
  }
.createNotesCard{
    background-color: white;
    height: 100vh;
    width: 30vw;
    /* Media query for smaller screens (e.g., mobile) */
    @media screen and (max-width: 650px) {
        width: 100vw; /* Full width on smaller screens */
      }
}
.appName{
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.02rem;
    padding-top: 2rem;
    padding-left: 1.2rem;
    @media screen and (max-width: 650px) {
        padding-left: 10%;
      }
   
}
.createSection{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.createNotesGroupBtn{
    color: white;
    background-color: black;
    width: 20vw;
    height: 7vh;
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
    border: none;
    border-radius: 1.8rem;
    @media screen and (max-width: 650px) {
        width: 60%; /* Full width on smaller screens */
        height: 7vh;
      }
}
.createNotesGroupBtn span{
    font-weight: 1000;
}
.createNotesGroupBtn:hover{
    opacity: 0.7;
    cursor: pointer;
}
.createNoteGroups{
    margin-top: 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    height: 65vh;
    overflow-y: scroll;
    @media screen and (max-width: 650px) {
        width: 100vw; /* Full width on smaller screens */
      }
}
